@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Lobster&display=swap");

@import "tailwindcss";

@plugin "daisyui";

:root {
  --color-primary: #222222;
  --color-secondary: #faf3e1;
  --color-accent: #ff6d1f;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.lobster {
  font-family: "Lobster", cursive;
}
